{% extends 'base4.html' %}
{% load static %}
<!-- 変更 -->
<head>
    {% block extracss %}
    <link rel="stylesheet" href="{% static 'css/confirm_delete.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}
<div class="container mt50">
    <h1>{{ object.title }} を削除しますか？</h1>
    <p>この操作は取り消せません。</p>

    <form method="post">{% csrf_token %}
        <button type="submit" class="btn btn-danger">削除</button>
        <a href="{% url 'detail' article_id=object.pk %}" class="btn btn-secondary">キャンセル</a>
    </form>
</div>
{% endblock %}
</body>